.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    /* margin-left: 100px; */
  }
  
  .inbox {
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .message-list {
    margin-top: 20px;
  }
  
  .message {
    border-bottom: 1px solid #eee;
    padding: 10px;
  }
  
  .message-sender {
    font-weight: bold;
  }
  
  .message-subject {
    color: #333;
  }
  
  .message-body {
    margin-top: 10px;
    color: #777;
  }
  
  .message-timestamp {
    color: #aaa;
    font-size: 12px;
  }
  
  @media only screen and (max-width: 600px) {
    .inbox {
      width: 90%;
    }

    .app {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f5f5f5;
        /* margin-left: 100px; */
      }
  }

  @media only screen and (min-width: 600px) {
    .app {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f5f5f5;
        margin-left: 100px;
      }
  }